.main-header {
  padding: 25px 0;
  .navbar-light {
    .navbar-nav {
      .nav-item {
          margin-left: 20px;
        .nav-link {
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #ffffff;
        }
      }
    }
  }
}
.both-headers {
  position: absolute;
  width: 100%;
  z-index: 100;
}