.faq {
  padding: 0px 0 60px;
}
.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  background-color: #183e5c;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 40px;
  color: #fff;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: -25px;
  top: 6px;
  transition: 1s;
}
.faq-title {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px dashed #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #ffffff;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.collapsed i.fas.fa-arrow-up {
}
.collapsed i.fas.fa-arrow-up {
  transform: rotate(180deg);
}
